:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #b0a8a8;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}